@import "./color.style.scss";
body {
  margin: 0;
  font-family: sans-serif;
  overflow-x: hidden;
}
li {
  list-style: none;
}
.pt {
  padding-top: 200px;
}
.pb {
  padding-bottom: 20px;
}
.pr {
  padding-right: 20px;
}
.pl {
  padding-left: 20px;
}
.mt {
  margin-top: 20px;
}
.mb {
  margin-bottom: 20px;
}
.mr {
  margin-right: 20px;
}
.ml {
  margin-left: 20px;
}
 
.btn{
  margin: 10px !important ;

  &-default{
      color: $defaultColor !important;
   }

  &-primary{
    background-color: $primaryColor !important;
    color: $whiteColor !important;
  }
}