@import "../../../assets/scss/color.style.scss";

.header {
    color: $blackColor;
    font-size: 20px;
    margin: 10px 0;
  }
  .txt-mute {
    color: $defaultColor;
    margin: 20px;
    font-size: 16px;
  }
  
  .auth-card {
    margin: auto;
    display: flex;
    justify-content: center;
    width: 85%;
    height: 98vh;
    align-items: center;
  }
  .pink-color {
    color: $primaryColor !important;
  }
  
  .input-field{
    width: 100% !important;
    font-size: 12px !important;
  }
  
  .input-field:focus, .input-field:active {
    border-color: $primaryColor !important;
  }
  .root {
    flex-grow: 1;
  }
  .paper {
    padding: 8px;
    text-align: center;
    color: $primaryColor !important;
    height: 55vh;
    border-radius: 10px !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
 
  .txt-icon, .txt-icon-active {
    color: $primaryColor !important;
  
  }
  
  .txt-icon-active:hover{
    color: $primaryColor !important;
    cursor: pointer;
  }
  
  .orange-color {
    color: $primaryColor !important;
  }
  .dialog-content {
    margin: auto !important;
  }
  .dialog-content-text {
    font-size: 2rem;
    display: inline-block !important;
  }
  .icon {
    float: left;
    margin-right: 0.5rem;
  }

  .bt-primary{
    background-color: $primaryColor !important;


  }
  