@import "../../assets/scss/color.style.scss";

* {
  margin: 0;
  padding: 0;
}

* {
  -ms-overflow-style: none;
}
::-webkit-scrollbar {
  display: none;
}

.btn-pink {
  background-color: $primaryColor !important;
  flex: 25%;
  padding: 0.5rem !important;
  border-radius: 30px !important;
  margin: 0 4rem -1rem 4rem !important;
  color: $whiteColor !important;
}
.btn-default {
  // background-color: $defaultColor !important;
  // flex: 25%;
  // padding: 0.5rem !important;
  // border-radius: 30px !important;
  // margin: 0 4rem -1rem 4rem !important;
  // color: $blackColor !important;
}
.btn-link {
  text-decoration: none;
}

.menu-left {
  ul {
    font-size: 14px;

    li:first-child {
      margin-top: 0;
    }
    li {
      margin: 24px 20px;

      a {
        text-decoration: none;
        color: #747474;
      }
      i {
        margin-right: 10px;
      }
    }
  }
}

.menu-item:hover {
  color: #3c774d !important;
  cursor: pointer;
}

.menu-item a:hover {
  color: #389b50 !important;
  cursor: pointer;
}
body {
  margin: 0;
  font-family: sans-serif;
  overflow-x: hidden;
}
li {
  list-style: none;
}
.pt {
  padding-top: 2rem;
}
.pb {
  padding-bottom: 2rem;
}
.pr {
  padding-right: 2rem;
}
.pl {
  padding-left: 2rem;
}
.mt {
  margin-top: 2rem;
}
.mb {
  margin-bottom: 2rem;
}
.mr {
  margin-right: 2rem;
}
.ml {
  margin-left: 2rem;
}
.text-white {
  color: $whiteColor;
}
.text-black {
  color: $blackColor;
}
.content-form {
  .default-btn {
    // margin: 2rem 0 2rem 0;
    // color: $blackColor;
    // background: $defaultColor;
  }
  .orange-btn {
    margin: 2rem 0 2rem 0;
    color: $whiteColor;
    background: $primaryColor;
  }
  .orange-btn:focus {
    background-color: $primaryColor !important;
  }
  .nav-link {
    text-decoration: none;
  }
  .upload-docs-headers {
    display: flex;
    padding: 0;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-bottom: 3px solid $defaultColor;
    font-size: large;
    .header {
      flex: 30%;
    }
  }
  .upload-docs-body {
    display: flex;
    padding: 0;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid $defaultColor;
    .body {
      flex: 30%;
    }
  }
  .upload-docs-footer {
    display: flex;
    padding: 0;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid $defaultColor;
    .footer {
      flex: 30%;
      padding-left: 0;
    }
    input {
      display: none;
    }
  }
  .next-back-btn {
    display: flex;
    right: 7.5rem;
  }
}
.content {
  display: grid;
  .nav-link {
    text-decoration: none;
  }
  .hotel-resto-list {
    margin: auto;
    // justify-content: center;
    // align-items: center;
    .hotel-resto-item {
      width: 90% !important;

      background-color: $whiteColor;
      border-radius: 15px;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    img {
      // background-image: url("../images/blank-image.jpg");
      width: 260px;
      height: 190px;
      border-top-right-radius: 15px;
      border-top-left-radius: 15px;
    }
  }
  .next-back-btn {
    display: flex;
    right: 7.5rem;
  }
  .column {
    float: left;
    width: 50%;
    padding: 10px;
    height: 70px;
  }
  .rows:after {
    content: "";
    display: table;
    clear: both;
  }
}
.card {
  height: 400px;
  overflow-y: auto;
}
